@import "~bootstrap/scss/bootstrap";

main {
    background-color: lightcoral;
}

.cover-img {
    width: 80px;
    height: 80px;
}

.error-ul{
    width: 200px;
    height: 50px;
    .error-li{
        list-style: disc;
    }
}
    